{block content}
<style>
	.city-from:first-letter, .city-to:first-letter  { text-transform: uppercase; }
	.ui-menu-item { z-index: 99999; }
	.city-from, .city-to { color:#ebebeb; }
	
</style>

	{* header *}
    <div class="container-fluid no-padding">
      <div class="vidwrap">
        <div class="filter"></div>
        <video preload="auto" autoplay muted loop>
            <source src="vid/Slow-Traffic.webm" type="video/webm">
            <source src="vid/Slow-Traffic.mp4" type="video/mp4">
        </video>
        <div class="container">
          <h1 class="h1--header"><span class="h1--light">Srovnejte si</span><br />cenu vaší jízd<span class="h1--light">(enk)</span>y</h1>
          <!-- Form -->
          <div id="container-search">        
            <div class="label-wrapper">
              <input id="small" type="radio" name="box" />
              <label for="small">Automobil</label>
              <label><img src="img/close.png" width="45"/></label>
              <input id="big" type="radio" name="box" />
              <label for="big">Hromadná doprava</label>
            </div>
            <form n:name=search method="post" id="box">
              <div id="divfrom"><input n:name=from type="text" id="from" placeholder="ODKUD - město" autocomplete="on" /></div>
              <div id="divto"><input n:name=destination type="text" id="to" placeholder="KAM - město" autocomplete="on" /></div>
              <div id="message"></div>
              
              <h5 class="h5--red" data-toggle="collapse" data-target="#collapseInput" aria-expanded="false">Podrobné nastavení <img src="img/drop-right.png" /></h5>
              <div class="collapse in" id="collapseInput">
                <div class="advanced-input">
                  <div id="travel-date" style="display:none"><input n:name=date type="date" id="date" placeholder="Datum" autocomplete="off" /></div>
                  <div id="travel-time" style="display:none"><input n:name=time type="time" id="time" placeholder="Čas" autocomplete="off" /></div>
                  <div id="num-passengers"><input n:name=passengers type="number" id="passengers" placeholder="Počet pasažérů" autocomplete="off" /></div>
                  <div id="fuel-cost"><input n:name=fuelCost type="number" id="fuel" placeholder="Cena paliva" autocomplete="off" /></div>
                  <div id="fuel-consumption"><input n:name=spotreba type="numbebr" id="consumption" placeholder="Spotřeba paliva" autocomplete="off" /></div>
                </div>
              </div>
              <div class="clearfix"></div>						
							<!--input type="submit" value="OK" name="send" /-->
              <button n:name=send type="submit" id="sendForm">Porovnat</button>
            </form>
          </div>
        </div>
      </div>
    </div>	
		<script type="text/javascript">
        var data = [
            { value: "Bastia", label: "Bastia"},
            { value: "Paris", label: "Paris"},
            { value: "Manchester", label: "Manchester"},
            { value: "Madrid", label: "Madrid"},
            { value: "Barcelona", label: "Barcelona"},
            { value: "Lyon", label: "Lyon"},
            { value: "Berlin", label: "Berlin"},
            { value: "Bileland", label: "Bileland"},
            { value: "Kou0161ice", label: "Kosice"},
            { value: "Geneve", label: "Geneve"},
            { value: "Wien", label: "Wien"},
            { value: "Poznan", label: "Poznan"},
            { value: "Brno", label: "Brno"},
            { value: "Bratislava", label: "Bratislava"},
            { value: "Firenze", label: "Firenze"},
            { value: "Brusel", label: "Brusel"},
            { value: "Maribor", label: "Maribor"},
            { value: "Innsbruck", label: "Innsbruck"},
            { value: "Dublin", label: "Dublin"},
            { value: "Praha", label: "Praha"},
            { value: "Frankfurt", label: "Frankfurt"},
            { value: "Stuttgart", label: "Stuttgart"},
            { value: "Palma", label: "Palma"},
            { value: "Livorno", label: "Livorno"},
            { value: "Milano", label: "Milano"},
            { value: "Dortmund", label: "Dortmund"},
            { value: "Ankara", label: "Ankara"},
            { value: "Graz", label: "Graz"},
            { value: "Wroclav", label: "Wroclav"},
            { value: "Istanbul", label: "Istanbul"},
            { value: "Liverpool", label: "Liverpool"},
            { value: "Zurich", label: "Zurich"},
            { value: "London", label: "London"},
            { value: "Athu00e9ny", label: "Atheny"},
            { value: "Warszawa", label: "Warszawa"},
            { value: "Roma", label: "Roma"},
            { value: "Valencia", label: "Valencia"},
            { value: "Split", label: "Split"},
            { value: "Izmir", label: "Izmir"}
        ];
            
        $(function() {
            $("#from").autocomplete({
                source: data,
            });
            $("#to").autocomplete({
                source: data,
            });

        });


    </script>
	{* Results *}
	{if $results}
		    <div class="container-fluid" id="content">
		{if $nemamNic}
			<h1 style="color: #ebebeb">Na této trase jsme nenašli ani rikšu!</h1>
		{else} {* Něco jsme našli *}
      <div class="container">        
        <div class="col-lg-12">
          <h3 class="subtitle">Cestujete mezi</h3>
          <h1 class="h1--destinations"><span class="city-from">Praha nad uplavickou</span> <span class="city-and"></span> <span class="city-to">Brno pod bezdězijovicema</span></h1>
          <h2>Nejvýhodnější cesta?</h2>
          <h2 class="winner">Autem!</h2>
          <h3 class="subtitle-under">ušetříte</h3>
          <div class="percentage">
            <div class="percentage-item"><p></p><h4>nižší cena</h4><h6><span class="winner-name">auto</span> vás bude stát <span class="winner-price">458&nbsp;korun</span>. <span class="second"><span class="loser-name">Vlak</span> vás přijde na <span class="loser-price">987&nbsp;korun</span>.</span></h6></div>
            <div class="percentage-item"><p></p><h4>kratší cesta</h4><h6><span class="winner-name">Auto</span> na daném úseku najede <span class="winner-price km">458&nbsp;km</span>. <span class="second">Oproti tomu <span class="loser-name">vlak</span> putuje celých <span class="loser-price km">987&nbsp;km</span>.</span></h6></div>
            <div class="percentage-item"><p></p><h4>méně času</h4><h6><span class="winner-name">auto</span> znamená být na cestě <span class="winner-price hod">5&nbsp;hodin a&nbsp;48&nbsp;minut</span>. <span class="second"><span class="loser-name">vlak</span> pojede <span class="loser-price hod">7&nbsp;hodin a&nbsp;12&nbsp;minut</span>.</span></h6></div>
          </div>
        </div>
        <div class="col-lg-12">
		<div id='myMap' style='width:100%;height:500px'></div>
		</div>
      </div>
			
			
			<script type='text/javascript'>
			var colors = [];
			colors[1]= 0;
			colors[2]= 230;
			colors[3]= 0;
			colors[4]= 250;
			colors[5]= 180;
			colors[6]= 0;
			colors[7]= 0;
			colors[8]= 0;
			colors[9]= 220;

			function loadMapScenario() {
	
				var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
					credentials: 'Aib1VkqsAtlReCj8X5T5QyO2paDb5KI28lTsj6Mht_nWWYBwKBQBnPaoAiPsU5g0',
				});
				{foreach $data as $trasa}

					var locs{$iterator->counter} = [
					{foreach $trasa['route'] as $point}
						new Microsoft.Maps.Location({$point[0]}, {$point[1]}) {if !$iterator->last},{/if}
					{/foreach}
					];
					var route{$iterator->counter} = new Microsoft.Maps.Polyline(locs{$iterator->counter},{ strokeColor:new Microsoft.Maps.Color(200, colors[{$iterator->counter*3-2}], colors[{$iterator->counter*3-1}], colors[{$iterator->counter*3}]), strokeThickness:5});

				map.entities.push(route{$iterator->counter});
				{/foreach}

				var bestview = Microsoft.Maps.LocationRect.fromLocations(locs1);


				map.setView({ bounds:bestview });
				//});


			}

		</script>
			
					{/if}
	{/if}
    </div>
		

<script type="text/javascript">
      // smooth scroll after button click
      $(function() {    
				{ifset $from}
				//getting variables
				var cityfrom = {$from};
				$('.city-from').html(cityfrom);
				
				
				var cityto = {$destination};
				$('.city-to').html(cityto);
				
				var winner = {$data[0]['title']};
				$('.winner').html(winner);
				
				var loser = {$data[1]['title']};
				
				var lower = {$data[0]['cost']};
				var higher = {$data[1]['cost']};
				var percents = {$data[0]['percent_cost']};
				$('.winner-price').html(lower + " korun");
				$('.loser-price').html(higher + " korun");
				
				
				
				
				var distance_lower = {$data[0]['distance']};
				var distance_higher = {$data[1]['distance']};
				var distance_percents = {$data[0]['percent_distance']};
				$('.winner-price.km').html(distance_lower + " km");
				$('.loser-price.km').html(distance_higher + " km");
				
				var duration_lower = {$data[0]['duration']};
				var duration_higher = {$data[1]['duration']};
				var duration_percents = {$data[0]['percent_duration']};
				$('.winner-price.hod').html(duration_lower + " hod");
				$('.loser-price.hod').html(duration_higher + " hod");
				
				
				$('.loser-name').html(loser);
				$('.winner-name').html(winner);
				
				
				if (higher===0 || distance_higher===0 || duration_higher===0) {
					$('.second').html("Oproti tomu, hromadná doprava zde vůbec nejede.");
				};
				{/ifset}
				// var ends
				var exists = {$results};
      $('.collapse').collapse();
    if (exists) {
        // display content
     $( "#content" ).show("slow");
     //scroll
       $('html, body').animate({
         scrollTop: $("#content").offset().top
       }, 1000); 
     //progress   
     $('.percentage-item:nth-of-type(1)').circleProgress({
         value: percents/100,
         size: 80,
         animation: { duration: 1800 },
         emptyFill: '#555',
         startAngle: -Math.PI/2,
         fill: {
           color: '#e2c023 '
         }
       }).on('circle-animation-progress', function(event, progress, stepValue) {
         $(this).find('p').text("o " + percents + " %");
     });   
     $('.percentage-item:nth-of-type(2)').circleProgress({
         value: distance_percents/100,
         size: 80,
         animation: { duration: 1800 },
         emptyFill: '#555',
         startAngle: -Math.PI/2,
         fill: {
           color: '#e2c023 '
         }
       }).on('circle-animation-progress', function(event, progress, stepValue) {
         $(this).find('p').text("o " + distance_percents + " %");
     });   
     $('.percentage-item:nth-of-type(3)').circleProgress({
         value: duration_percents/100,
         size: 80,
         animation: { duration: 1800 },
         emptyFill: '#555',
         startAngle: -Math.PI/2,
         fill: {
           color: '#e2c023 '
         }
       }).on('circle-animation-progress', function(event, progress, stepValue) {
         $(this).find('p').text("o " + duration_percents + " %");
     });
    } 
});


    </script>
{/block}



