{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/custom.css">
	<link rel="stylesheet" href="{$basePath}/css/normalize.css">
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic|Courgette' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;subset=latin-ext" rel="stylesheet">
	{block scripts}
		<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
		    <!-- jQuery -->
	    <script src="{$basePath}/js/jquery-3.1.1.min.js"></script>
	    <script src="{$basePath}/js/circle-progress.min.js"></script>
			 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	    <!-- javascript-->
	    <script src="{$basePath}/js/bootstrap.min.js"></script>
		<!--<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>-->
		<script src="{$basePath}/js/main.js"></script>
	{/block}
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}


    
  </body>
</html>