@charset "UTF-8";
/* breakpoints */
/* Colors */
/* Default */
body {
  font-family: 'Lato', 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #363738; }

.space-30 {
  width: 100%;
  height: 30px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

:-ms-input-placeholder {
  /* IE10ÔÇô11 */
  color: #ccc !important;
  font-weight: 400 !important; }

::-ms-input-placeholder {
  /* Edge */
  color: #ccc;
  font-weight: 400; }

/* Header video */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  width: 100%;
  height: 100%; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.vidwrap .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

/* header */
.h1--header {
  font-family: 'Archivo Black', sans-serif;
  position: absolute;
  z-index: 1;
  color: white;
  display: inline-block;
  font-size: 2.5em;
  top: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
  @media (min-width: 357px) {
    .h1--header {
      font-size: 3.4em; } }
  @media (min-width: 750px) {
    .h1--header {
      font-size: 4.5em; } }

.h1--light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #e2c023; }

/*form-homepage*/
#container-search {
  position: absolute;
  z-index: 1;
  background-color: #efefef;
  background-image: url(../img/debut_light.png);
  background-repeat: repeat;
  width: 100%;
  margin-bottom: 1em;
  max-width: calc(100% - 30px);
  top: 15em;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media (min-width: 480px) {
    #container-search {
      width: 400px;
      left: 50%;
      margin-left: -200px; } }
  @media (min-width: 768px) {
    #container-search {
      width: 480px;
      margin-left: -240px; } }
  @media (min-width: 992px) {
    #container-search {
      width: 660px;
      margin-left: -330px; } }
  #container-search .label-wrapper {
    background-color: #5a5a5a; }
    #container-search .label-wrapper label img {
      margin-top: 50px; }
  #container-search .h5--red {
    color: #e8521c;
    font-size: 1em;
    margin-top: 0;
    cursor: pointer;
    margin: 15px 0 8px 0;
    display: inline-block;
    text-align: right; }
    #container-search .h5--red img {
      padding-left: 8px;
      animation: bounce 2s infinite;
      transform: translate3d(0, 0, 0); }
  #container-search form {
    padding: 35px 15px; }
    @media (min-width: 768px) {
      #container-search form {
        padding: 35px 35px; } }
    @media (min-width: 992px) {
      #container-search form {
        padding: 25px 45px 15px 45px; } }

@-webkit-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    transform: translate3d(0, 0, 0); }
  40% {
    transform: translate3d(5px, 0, 0); }
  60% {
    transform: translate3d(8px, 0, 0); } }
@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    transform: translate3d(0, 0, 0); }
  40% {
    transform: translate3d(5px, 0, 0); }
  60% {
    transform: translate3d(8px, 0, 0); } }
form#box input {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  border-radius: 0;
  border: 2px solid #e1e1e1;
  padding: 20px 10px 20px 70px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal; }
  @media (min-width: 480px) {
    form#box input {
      line-height: 30px;
      font-size: 24px;
      padding: 20px 10px 20px 90px; } }

form#box input#from {
  background-color: white;
  background: url(../img/form_from.png) no-repeat 3% 50%; }

form#box input#to {
  background: url(../img/form_to.png) no-repeat 3% 50%;
  background-color: white; }

form#box input:focus {
  border: 1px solid #3eb177;
  outline: none; }

form#box div#divfrom + div#divto {
  margin-top: 30px; }

#container-search input[type="radio"] {
  display: none; }

#container-search .label-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

#container-search input[type="radio"] + label {
  width: 25%;
  max-width: 78px;
  height: 140px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 105px;
  font-size: 15px;
  margin-bottom: 10px;
  color: #cbcbcb;
  width: 100%; }
  @media (min-width: 496px) {
    #container-search input[type="radio"] + label {
      max-width: 131px; } }
  @media (min-width: 845px) {
    #container-search input[type="radio"] + label {
      max-width: 178px; } }

#container-search input[type="radio"]#small + label {
  background-image: url(../img/car-outline.png);
  background-repeat: no-repeat;
  background-position: 50% 30%; }

#container-search input[type="radio"]#big + label {
  background-image: url(../img/bus-outline.png);
  background-repeat: no-repeat;
  background-position: 50% 30%; }

form#box #divfrom,
form#box #divto {
  width: 100%;
  display: block;
  position: relative; }

form#box #findfrom,
form#box #findto {
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  background: #e1e1e1;
  display: block;
  border: 0px;
  padding: 0;
  max-height: 350px;
  width: 100%;
  margin-top: 2px;
  overflow-y: auto;
  overflow-x: hidden; }

form#box #findfrom input,
form#box #findto input {
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  cursor: pointer;
  border: 0;
  padding-right: 5px;
  padding-left: 80px;
  background: white;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  color: #666; }

form#box #findfrom input + input,
form#box #findto input + input {
  border-top: 2px solid white; }

form#box #findfrom input:hover,
form#box #findto input:hover {
  background: whites; }

form #sendForm {
  background: #3eb177;
  color: white;
  border: 0;
  border-bottom: 5px solid #329463;
  border-radius: 0px;
  line-height: 55px;
  font-size: 19px;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 25px;
  max-width: 250px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center; }
  form #sendForm:focus, form #sendForm:hover {
    outline: none;
    background-color: #39ba7a; }

form#box #divfrom, form#box #divto {
  background-color: white; }

form#box .advanced-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  form#box .advanced-input div {
    width: 50%;
    flex-basis: 255px;
    padding-bottom: 10px; }
    form#box .advanced-input div:nth-of-type(3), form#box .advanced-input div:nth-of-type(4), form#box .advanced-input div:nth-of-type(5) {
      flex-basis: 165px; }
    form#box .advanced-input div input {
      padding: 5px 10px 5px 10px;
      font-size: 14px;
      line-height: 16px;
      height: 40px; }
  form#box .advanced-input div:nth-of-type(3), form#box .advanced-input div:nth-of-type(4), form#box .advanced-input div:nth-of-type(5) {
    width: 30%; }

/* Content */
#content {
  position: relative;
  color: #ebebeb;
  text-align: center;
  padding: 7em 0;
  display: none; }
  #content .cities {
    text-transform: uppercase; }
  #content .h1--destinations {
    border: 1px solid #3eb177;
    display: inline-block;
    padding: 10px 35px;
    line-height: 2.2em;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 487px) {
      #content .h1--destinations {
        flex-wrap: nowrap; } }
  #content .subtitle {
    font-size: 1.4em;
    color: #a1a1a1;
    line-height: 1.5; }
  #content .subtitle-under {
    font-size: 1.4em;
    color: #a1a1a1;
    line-height: 1; }
  #content .city-to, #content .city-from {
    flex: auto;
    word-break: break-word; }
    @media (min-width: 487px) {
      #content .city-to, #content .city-from {
        flex: 1; } }
  #content .city-and {
    display: inline-block;
    width: 90px;
    margin: 0 10px;
    height: 2.2em;
    background-size: contain;
    background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto; }
  #content .winner {
    color: #e8521c;
    font-weight: 300;
    font-size: 58px;
    margin-top: 0; }
  #content h2 {
    text-transform: uppercase;
    margin: 5em 0 0.2em 0; }
  #content .winner-name, #content .loser-name {
    font-style: italic; }
  #content .winner-price {
    color: #a2a2a2; }
  #content .loser-price {
    color: #a2a2a2; }
  #content h6 {
    line-height: 1.45; }

/* Progress bar */
.percentage {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 5em auto;
  justify-content: space-around; }

.percentage-item {
  flex-basis: 120px; }
  .percentage-item p {
    margin-top: -55px; }
  .percentage-item h4 {
    padding-top: 55px;
    margin-bottom: 50px; }

/* map */
#map {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* vid */
.vidwrap {
  position: relative;
  height: 1195px;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 845px) {
    .vidwrap {
      height: 890px; } }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #e8521c;
  background-image: url(../img/Slow-Traffic.jpg); }

.no-padding {
  padding-left: 0;
  padding-right: 0; }

/* datepicker */
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

::-webkit-calendar-picker-indicator {
  color: #bcbcbc;
  cursor: pointer; }

::-webkit-time-picker-indicator {
  color: #bcbcbc;
  cursor: pointer; }

/*# sourceMappingURL=custom.css.map */
